#calculator {
  box-shadow: 0px 0px 20px 0px #aaa;
  width: 320px;
  .monitor{
    padding: 20px;
    font-size: 84px;
    background-color: #1c191c;
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
  }
  .flex-container {
    display: flex;
    align-items: center;
    &:last-child {
      .flex-item {
        border-bottom: none;
      }
    }
    .flex-item {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      background-color: #e0e0e7;
      color: #000000;
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      border-color: #777;
      border-right: none;
      border-top: none;
      transition: 0.3s all;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      &:active {
        background-color: #000000;
        opacity: 0.8;
        color: #ffffff;
      }
    }
    .calculator-operator-primary {
      background-color: #fb9917;
      color: #ffffff;
    }
    .calculator-operator-secondary {
      background-color: #c9c8cc;
      color: #000000;
    }
    .width-160 {
      width: 160px ;
    }
  }
}
